body {
	font-family: 'Noto Serif', serif;
	background-color: #f6f1ed;
	line-height: 24px;
	 letter-spacing: 1.2px;

}

#navgtn {
	background-color: #f6f1ed;
	border-radius: 0px;
}

#brandname h1{
	font-family: 'Lobster Two', cursive;
	color: #30231d;
	font-size: 2em;
	margin-top: 10px;
	text-shadow: 1px 1px 3px #b5a397;

	}

#myNavbar ul li {
	margin-bottom: 10px;
	margin-right: -10px;
}

#myNavbar ul li h3 {
	font-size: 1.25em;
	color: #30231d;
	font-family: 'Noto Serif', serif;
}


#myNavbar a:hover, #myNavbar a:focus ,#myNavbar a:hover h3, #myNavbar a:focus h3 {
	text-decoration: none;
	background-color: #6a5750;
	color: #f6f1ed;
	margin-top: 10px;
	
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

@media (min-width: 1200px) {
 
 	
 }

@media (min-width: 992px) and (max-width: 1199px) {
	#brandname h1{
		font-size: 1.90em;
	}
#myNavbar ul li h3 {
	font-size: 1.20em;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
		#brandname h1{
		font-size: 1.60em;
	}
	#myNavbar ul li h3 {
	font-size: 1em;
	}

}

@media (max-width: 767px) {
		#brandname h1{
		font-size: 1.40em;
			margin-top: -1px;
	  		
	}
	
	#myNavbar ul li h3 {
	font-size: 1em;
	}
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbr-toggle:hover {
    background-color: #b5a397;
}

button.navbar-toggle.collapsed {
	border: 2px solid #30231d;
	background-color: #f6f1ed;
	
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #f6f1ed;
	
}

button.navbar-toggle.collapsed .icon-bar {
    border: 2px solid #30231d;
}
 
button.navbar-toggle {
 	border: 2px solid #6a5750;
 	
 }

button.navbar-toggle .icon-bar {
 	border: 2px solid #6a5750;
 }

#myNavbar ul li a {
            text-align: center;
}

.jumbotron #imagejumbo {
	margin-top: -70px;
	background-color: #f6f1ed;
	padding: 0px;
	margin-bottom: -15px;
}

#imagejumbo img {
	
	max-width: 100%;
	height: auto;
	margin-bottom: -30px;
	}

#main-content {
	margin-top: -10px;
	background-color: #f6f1ed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#main-content p.para {
	line-height: 24px;
	color: #6a5750;
	line-height: 24px;
	 letter-spacing: 1.2px;
}

#main-content h3.hdng{
	font-weight: bold;
	letter-spacing: 1.2px;
	color: #30231d;
}

#portfolio div#image {
  margin-left: auto;
	margin-right: auto;
  border: 1px solid #6a5750;
	width: 95%;
	height: auto; 
	margin-bottom: 40px;
}

#portfolio div#image:hover {
    border: 1px solid #b5a397;
}

#portfolio div#image img {
    width: 100%;
    height: auto;
	
}

#portfolio div.caption {
    padding: 15px;
    text-align: center;
	color: #6a5750;
}
#contact {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
#contact h3 {
	color: #30231d;
	font-weight: bold;
	
}
#contact .form-group .form-control {
	font-size: 13px;
	color: #6a5750;
	border: 1px solid #b5a397;
	background-color: #f6f1ed;
	
}
.form-group label {
	color: #6a5750;
}
.btn-dark {
	color: #f6f1ed;
	background-color: #30231d;
	text-transform: uppercase;
	border-color: #30231d;
}
.btn-dark:hover, .btn-dark:active, .btn-dark:focus, .btn-dark:visited {
	color: #f6f1ed;
	background-color: #6a5750;
}
#contact .form-group #submit {
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size: 13px;
}
#footer-section {
	border-top: 1px solid #30231d;
	border-bottom: 1px solid #30231d;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	
}
ul#social-links {
	list-style-type: none;
	
}
ul#social-links li a{
	display: block;
	color: #6a5750;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 15px;
	text-decoration: none;
}
p.copyright {
	color: #30231d;
	font-weight: bold;
	font-size: 15px;
}